body{
    font-family: 'Poppins';
    margin: 0;
}
.main{
    transition: 0.3s;
}


/* ////////////////// */
/* index */
/* ////////////////// */

.upperDiv{
    min-height: 100vh;

    background-image: url(img/joanna-kosinska-bF2vsubyHcQ-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.upperDiv___header{
    color: white;

    padding: 10vh 7%;
}



/* ////////////////// */
/* auto */
/* ////////////////// */

.title{
    font-weight: 600;
    font-size: 8vh;
}

.startBtn{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 52px;

    color: #FFFFFF;


    border: 3px solid white;
    border-radius: 50px;

    padding: 5px 15px;
    background: none;
    
    transition: 0.3s;
}

.startBtn:hover{
    border-radius: 0;
}


/* ////////////////// */
/* responsive */
/* ////////////////// */

.full-vw {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
}

/* ///////////////// */
/* menu */
/* ///////////////// */

.icon{
    height: 50px;
    width: 50px;

    background-image: url(img/icon.svg);
    background-size: contain;
    background-repeat: no-repeat;

    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 50;

    transform: 0.5s;
}

/* script class */
.left{
    margin-left: 30%;
}
.black-shadow{
    background-image: url(img/icon2.svg);
}